{% extends 'index.html' %}

{% block body %}
<form action="/cuclimers" method="GET">
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>tienda</td>
                <td>cliente</td>
                <td>tipo_cliente</td>
                <td>tipo_pasaporte</td>
                <td>distrito</td>
                <td>Tienda_Act</td>
                <td>digito_verificador</td>
                <td>Estado</td>
                <td>Fecha_registro</td>
                <td>Promotor</td>
                <td>nombre</td>
                <td>direccion</td>
                <td>torre</td>
                <td>NBR_MMAIL</td>
                <td>Cheques</td>
                <td>Fecha_expiracion</td>
                <td>Fecha_ultmia_act</td>
                <td>Bloqueo</td>
                <td>Edificio</td>
                <td>Cod_postal</td>
                <td>POB_NO</td>
                <td>POST_CD_POB</td>
                <td>BANK_ACCOUNT_NO</td>
                <td>Telefono</td>
                <td>Nro_fiscal</td>
                <td>observacion</td>
                <td>Primera_visita</td>
                <td>ultima_visita</td>
                <td>fax</td>
                <td>email</td>
                <td>BONUS_IND</td>
                <td>BONUS_BALANCE</td>
                <td>Provincia</td>
                <td>TOP_CUST_IND</td>
                <td>Cod_promotor</td>
                <td>Ultima_fecha_promocion</td>
                <td>SIGA</td>
                <td>Fecha_borrado</td>
                <td>Vista_RDC</td>
                <td>Celular</td>
                <td>Nombre_Comprador</td>
                <td>POTENCIAL_PURCHASE_MONTH</td>
            </tr>
        </thead>
        <tbody>
            {% for cli in cust1 %}
                <tr>
                    <td>{{ cli.0 }}</td>
                    <td>{{ cli.1 }}</td>
                    <td>{{ cli.2 }}</td>
                    <td>{{ cli.3 }}</td>
                    <td>{{ cli.4 }}</td>
                    <td>{{ cli.5 }}</td>
                    <td>{{ cli.6 }}</td>
                    <td>{{ cli.7 }}</td>
                    <td>{{ cli.8 }}</td>
                    <td>{{ cli.9 }}</td>
                    <td>{{ cli.10 }}</td>
                    <td>{{ cli.11 }}</td>
                    <td>{{ cli.12 }}</td>
                    <td>{{ cli.13 }}</td>
                    <td>{{ cli.14 }}</td>
                    <td>{{ cli.15 }}</td>
                    <td>{{ cli.16 }}</td>
                    <td>{{ cli.17 }}</td>
                    <td>{{ cli.18 }}</td>
                    <td>{{ cli.19 }}</td>
                    <td>{{ cli.20 }}</td>
                    <td>{{ cli.21 }}</td>
                    <td>{{ cli.22 }}</td>
                    <td>{{ cli.23 }}</td>
                    <td>{{ cli.24 }}</td>
                    <td>{{ cli.25 }}</td>
                    <td>{{ cli.26 }}</td>
                    <td>{{ cli.27 }}</td>
                    <td>{{ cli.28 }}</td>
                    <td>{{ cli.29 }}</td>
                    <td>{{ cli.30 }}</td>
                    <td>{{ cli.31 }}</td>
                    <td>{{ cli.32 }}</td>
                    <td>{{ cli.33 }}</td>
                    <td>{{ cli.34 }}</td>
                    <td>{{ cli.35 }}</td>
                    <td>{{ cli.36 }}</td>
                    <td>{{ cli.37 }}</td>
                    <td>{{ cli.38 }}</td>
                    <td>{{ cli.39 }}</td>
                    <td>{{ cli.40 }}</td>
                    <td>{{ cli.41 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="">
    Exportar
</button>

{% endblock %}