{% extends 'index.html' %}

{% block body %}
<head>
        <meta http-equiv="refresh" content="10">
</head>
<form action="/mafisbdoho" method="GET">
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>RUN_DATE</td>
                <td>CTRY_NAME</td>
                <td>PROC_NAME</td>
                <td>PROC_TYPE</td>
                <td>STATUS</td>
                <td>SRC_START_DATE</td>
                <td>SRC_END_DATE</td>
                <td>ETL_START_DATE</td>
                <td>ETL_END_DATE</td>
                <td>TRG_START_DATE</td>
                <td>TRG_END_DATE</tr>
        </thead>
        <tbody>
            {% for mafisbdoho in mafisbdoho1 %}
                <tr>
                    <td>{{ mafisbdoho.0 }}</td>
                    <td>{{ mafisbdoho.1 }}</td>
                    <td>{{ mafisbdoho.2 }}</td>
                    <td>{{ mafisbdoho.3 }}</td>
                    <td>{{ mafisbdoho.4 }}</td>
                    <td>{{ mafisbdoho.5 }}</td>
                    <td>{{ mafisbdoho.6 }}</td>
                    <td>{{ mafisbdoho.7 }}</td>
                    <td>{{ mafisbdoho.8 }}</td>
                    <td>{{ mafisbdoho.9 }}</td>
                    <td>{{ mafisbdoho.10 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="">
    Exportar
</button>

{% endblock %}
