{% extends 'index.html' %}

{% block body %}
<head>
        <meta http-equiv="refresh" content="10">
</head>
<form action="/mafisbdoholog" method="GET">
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>SOURCE</td>
                <td>ATTRIBUTE1</td>
                <td>GLOBAL_ATTRIBUTE_CATEGORY</td>
                <td>ACCOUNTING_DATE</td>
                <td>REG_PROC</td>
                <td>CREATED_DATE</td>
                <td>MONTH_DATE</td>
                <td>PROC_NUM</td>
            </tr>
        </thead>
        <tbody>
            {% for mafisbdoholog in mafisbdoholog1 %}
                <tr>
                    <td>{{ mafisbdoholog.0 }}</td>
                    <td>{{ mafisbdoholog.1 }}</td>
                    <td>{{ mafisbdoholog.2 }}</td>
                    <td>{{ mafisbdoholog.3 }}</td>
                    <td>{{ mafisbdoholog.4 }}</td>
                    <td>{{ mafisbdoholog.5 }}</td>
                    <td>{{ mafisbdoholog.6 }}</td>
                    <td>{{ mafisbdoholog.7 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="">
    Exportar
</button>

{% endblock %}
