{% extends 'index.html' %}

{% block body %}
<form action="/nrstatus" method="GET">
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                <td>RUN_DATE</td>
                <td>STORE_NO</td>
                <td>PROG_NAME</td>
                <td>LOG_NAME</td>
                <td>START_DATE</td>
                <td>END_DATE</td>
                <td>EXIT_CODE</td>
            </tr>
        </thead>
        <tbody>
            {% for nrst in nrst1 %}
                <tr>
                    <td>{{ nrst.0 }}</td>
                    <td>{{ nrst.1 }}</td>
                    <td>{{ nrst.2 }}</td>
                    <td>{{ nrst.3 }}</td>
                    <td>{{ nrst.4 }}</td>
                    <td>{{ nrst.5 }}</td>
                    <td>{{ nrst.6 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="">
    Exportar
</button>

{% endblock %}