{% extends 'index.html' %}

{% block body %}
<form action="/ocsinsid" method="GET">
<div class="col-md-7">
    <table class="table table-striped table-bordered bg-white table-sm">
        <thead>
            <tr>
                    <td>OC_MADRE</td>
                    <td>TIENDA</td>
                    <td>TRANSFERENCIA</td>
                    <td>NRO_ARTICULO</td>
                    <td>DESCRIPCION</td>
                    <td>SALIDA_TIENDA_80</td>
                    <td>ULTIMA_FECHA_SALIDA</td>
                    <td>ENTRADA_TIENDA</td>
                    <td>ENTRADA_HO</td>
                    <td>ULTIMA_FECHA_ENTRADA</td>
                    <td>SID_PENDIENTE</td>
                    <td>CANTIDAD_PENDIENTE</td>
                    <td>CANTIDAD_PENDIENTE_HO</td>
                    <td>PEDIENTE_TIENDA</td>
                    <td>ESTADO_PEDIDO_TIENDA</td>
                    <td>TRANSERENCIA_TIENDA</td>
                    <td>TRANSFERENCIA_DESDE_PEDIDO</td>
                    <td>VALOR</td>
            </tr>
        </thead>
        <tbody>
            {% for cur_ocsinsid in ocsinsid %}
                <tr>
                    <td>{{ cur_ocsinsid.0 }}</td>
                    <td>{{ cur_ocsinsid.1 }}</td>
                    <td>{{ cur_ocsinsid.2 }}</td>
                    <td>{{ cur_ocsinsid.3 }}</td>
                    <td>{{ cur_ocsinsid.4 }}</td>
                    <td>{{ cur_ocsinsid.5 }}</td>
                    <td>{{ cur_ocsinsid.6 }}</td>
                    <td>{{ cur_ocsinsid.7 }}</td>
                    <td>{{ cur_ocsinsid.8 }}</td>
                    <td>{{ cur_ocsinsid.9 }}</td>
                    <td>{{ cur_ocsinsid.10 }}</td>
                    <td>{{ cur_ocsinsid.11 }}</td>
                    <td>{{ cur_ocsinsid.12 }}</td>
                    <td>{{ cur_ocsinsid.13 }}</td>
                    <td>{{ cur_ocsinsid.14 }}</td>
                    <td>{{ cur_ocsinsid.15 }}</td>
                    <td>{{ cur_ocsinsid.16 }}</td>
                    <td>{{ cur_ocsinsid.17 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<button onclick="">
    Exportar
</button>

{% endblock %}